<div class="info">
    <p>I'm new to programming, but it's something that I enjoy and hope to get better at. Check out some of my projects on <a href="https://github.com/AaronPacht">github</a>.</p>
    <img src="avatar.jpg">
</div>