<div class="info">
    <p>My name is Aharon Pacht and you can contact me by email at aharonpacht@gmail.com. I'm new to programming, but it's something that I enjoy and hope to get better at.</p>
    <img src="avatar.jpg">
</div>

