<div class="info">
    <p>Hey! I'm new to programming, but it's something that I enjoy and hope to get better at! Check out the tabs above to find out more about me!</p>
    <img src="avatar.jpg">
</div>

