<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
<header>
    <a href="/">Home</a>
    <a href="/aharon">Aharon</a>
    <a href="/skills">Skills</a>
    <a href="/about_me">About me</a>
</header>
    <%= yield %>
</body>
</html>