<p>Skills</p>
<ul>
    <li>I can use HTML to create the structure of a webpage</li>
    <li>I can use CSS to design and format a webpage</li>
    <li>I can use Ruby to create the logic behind a webpage</li>
    <li>I can use databases to store classes that make up a webpage</li>
    <li>My favourite food is tomatoes</li>
    <li>My favourite book is 'A Tale of Two Cities'</li>
</ul>